[submodule "lib/bootstrap"]
	path = lib/bootstrap
	url = https://github.com/twbs/bootstrap
[submodule "lib/github-submodule-updater"]
	path = lib/github-submodule-updater
	url = https://github.com/bornemix/github-submodule-updater
